@import url('https://fonts.googleapis.com/css2?family=Mingzat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mingzat;
}
body{
    overflow: hidden;
    background: #53687E;
}
/* main div */
.wrapper{
    background-color: rgb(227, 172, 181);
    max-width: 405px;
    margin: 80px auto;
    border-radius: 7px;
    padding: 28px 0;
}
/* input task starts  here */
.task-input{
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img{
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
  }
.task-input input{
    height: 100%;
    width: 100%;
    padding: 0 20px 0 53px;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 20px;
    }
    .task-input input::placeholder{
        color:cornflowerblue;
    }
     /* input task ends  here  */

 /* controls starts here  */
 .controls, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
   
 }
 .filters span{
   margin: 0 8px;
   font-size: 17px;
   cursor: pointer;
 }
 .filters span:first-child{
     margin-left: 0;
 }
 .filters span.active{
     color: blue;
 }
 .controls .clear-btn{
    outline: none;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 9px 15px;
    background: cornflowerblue;
    cursor: pointer;
 }
 /* controls ends here  */

 /* all tasks starts here */
 .task-box{
    margin: 20px 25px;
 }
 .task-box .task{
    list-style: none;
    font-size: 17px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
 }
 .task-box .task:last-child{
     margin-bottom: 0;
     border-bottom: 0;
     padding-bottom: 0;
 }
 .task label{
    display: flex;
 }
 .task label p.checked{
   text-decoration: line-through;
 }
 /* check box */
 .task label input{
    margin-top:6px;
    margin-right: 12px;
 }
 /* setting icons */
 .task .settings{
    cursor: pointer;
    position: relative;
 }
 .settings .tasks-menu{
    position: absolute;
    right: -5px 0;
    bottom: -65px;
    padding: 5px 0;
    z-index: 2;
    border-radius: 4px;
    transform: scale(0);
    background:  rgb(227, 172, 181);
    width: 105px;
    height: 80px;
    transform-origin: top right;
    transition:transform 0.2s ease;
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    margin-left: -70px;
 }
 
 .settings .tasks-menu.show{
    transform: scale(1);
 }
 .tasks-menu li{
    height: 25px;
    font-size: 13px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
 }
 .tasks-menu li:last-child{
    margin-bottom: 0;
 }
 .tasks-menu li:hover{
    background: rgb(227, 172, 181);
 }
 .tasks-menu li i{
    padding-right: 8px;  
 }
  /* all tasks ends here */
